.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #2C3E50;
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.container .text-muted {
  margin: 20px 0;
}

